
/* letft side menu */
#develop-left-side{height: 100%; position: relative; background-color: #fbfbfb; box-shadow: 0.5px 0px 0px 0px #ccc;}


#develop-left-side::-webkit-scrollbar {display: none;}
#develop-left-side{scrollbar-width: none; }

#develop-left-side:first-child{width: 15em; height: 100%; position: fixed; overflow: scroll;}
#develop-left-side li{height: 3em; cursor: pointer;}
#develop-left-side li::marker{font-size: 10px;}
#develop-left-side li.open{list-style-type: disclosure-open;}
#develop-left-side li{list-style-type:disclosure-closed;}

#develop-content{width: 100%; flex-direction: column; align-items: center;}

/*search*/
.search-area{justify-content: center;}
.search-area .search-box{width: 40em; height: 4em; margin: 1em; align-items: center; justify-content: center; border: 1px solid var(--base-color); border-radius: 50px; box-shadow: -1px 0px 5px 2px #ccc;}
.search-area .search-content{height: calc(100% - 5px); flex-grow: 9; padding: 0px 1em; border: none; border-radius: inherit; font-size: 15pt; outline: 0;}
.search-area .i-search{flex-grow: 1; cursor: pointer;}

/* posting */
#develop-posting-content{flex-wrap: wrap; margin-left: 20em;}
.posting-item{display: flex; flex-direction: column;  width: 20rem; height: 20em; margin: 1em; box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;}
.posting-item:hover{cursor: pointer; box-shadow: rgba(0, 0, 0, 0.08) 0px 12px 20px 0px; transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;}