/* 메인 메뉴 */
#menu-box.main-container{margin: 0 30vh; border: var(--background-color) solid 1px; border-top: none; border-bottom: none;} 

article#content{display: flex; flex-direction: column;}
article#content #main-title{text-align: center;}
article#content #main-title .title-txt{font-size: 25px; font-family: var(--font-en);}
article#content>section{margin: 3.5em 0em 0em 0em;}

.h-line{background-color: var(--background-color); opacity: 0.5; border: 0; width: 20em; height: 1px; transition-duration: 1s;}
/*End 메인 메뉴 */