/* 메인 메뉴 */
#menu-box.main-container{
    /* margin: 0 40vh; */
    border-top: none; border-bottom: none;
    margin-left: auto; margin-right: auto;
} 

/* 공통 */
article#content{display: flex; flex-direction: column;}
article{padding: 20px;}

/* 타이틀 */
article#main-title{text-align: center;}
article#main-title .title-txt{font-size: 25px; font-family: var(--font-en); color: var(--base-color);}
.h-line{background-color: var(--base-color); opacity: 0.5; border: 0; width: 20em; height: 1px; transition-duration: 1s;}
.h-dashed-line{border: dashed 1px var(--base-color); opacity: 0.5;}

/* 개인정보 */
#my-info .section-content{padding: 0; align-items: center;}
#my-info .section-content .code-print{width: 25em; height: 13em; margin-left: 3em; padding: 1em;}
#my-info .profile{width: 15em; height: 15em; border-radius: 25%; background: url(../image/test.jpg) no-repeat 100%; background-size: cover; box-shadow: var(--base-color) 0 0 13px;}

@media screen and (min-width: 768px) {
    #menu-box.main-container{ max-width: 768px;}
    .profile{min-width: 15em;}
}