/* css 변수선언 */ /* 사용시 var(변수명) */
:root {
    --text-color:#f0f4f5;
    --background-color:#262626;
    --accent-color:#d49466;
    --font-en:'Rubik', sans-serif;
}

/*tag default */
html,body {height:100vh; font-family: "Noto Sans KR variant0", Tofu;}
body {margin:0;}
a {text-decoration: none; color: var(--text-color);}
i {display: inline-block; background-repeat: no-repeat; line-height: 0; vertical-align: middle;}
/*End tag default */

/* 메뉴 공통 박스 */
#menu-box{height: 100vh;}



/* icon*/
i {width: 30px; height: 30px;}
i:hover {cursor: pointer;}
.i-instagram {background-image: url(../icon/icon_instagram.png); background-size: contain;}
.i-menu {background-image: url(../icon/icon_menu.png);}
.i-home {background-image: url(../icon/icon_home.png); background-size: contain;}
/*End icon*/
