/* css 변수선언 */ /* 사용시 var(변수명) */
:root {
    --base-color:#262626;
    --sub-color:#0f6ae5;
    --text-color:#f0f4f5;
    --font-en:'Rubik', sans-serif;
}

/*tag default */
html,body {height:100vh; font-family: "Noto Sans KR variant0", Tofu;}
body {margin:0;}
a {text-decoration: none; color: none;}
i {display: inline-block; width: 40px; height: 40px; background-repeat: no-repeat; line-height: 0; vertical-align: middle;}
i:hover {cursor: pointer;}
/*End tag default */

/* 메뉴 공통 박스 */
#menu-box{height: 100vh;}

div.circle{border-radius: 70%; overflow: hidden;}
/* div.hexagon{} */

.flex{display: flex;}


/* icon*/

.i-instagram {background-image: url(../icon/icon_instagram.png); background-size: contain;}
.i-menu {background-image: url(../icon/icon_menu.png); width: 30px; height: 30px;}
.i-home {background-image: url(../icon/icon_home.png); background-size: contain;}
/*End icon*/
